<template>
  <form class="form">
    <fieldset class="form__inner">
      <!-- Input First Name -->
      <div class="form__field">
        <input
          id="first-name"
          v-model="firstName"
          autocomplete="off"
          name="first-name"
          type="text"
          required
          placeholder="First Name"
          :class="[
            'form__input',
          ]"
        >

        <div
          :class="[
            'form__footer',
            {
              'form__footer--error': firstNameError
            }
          ]"
        >
          <span v-if="firstNameError">{{ firstNameError }}</span>
          <span><sup>*</sup>required</span>
        </div>
      </div>

      <!-- Input Last Name -->
      <div class="form__field">
        <input
          id="last-name"
          v-model="lastName"
          autocomplete="off"
          name="last-name"
          type="text"
          placeholder="Last Name"
          :class="[
            'form__input',
          ]"
        >
      </div>

      <!-- Select Country -->
      <div
        :class="[
          'form__select',
          {
            'form__select--open': selectOpen,
          }
        ]"
      >
        <div
          :class="[
            'form__field',
            {
              'form__field--open': selectOpen,
            }
          ]"
          @click="selectOpen = !selectOpen"
        >
          <input
            id="country"
            v-model="countryName"
            autocomplete="off"
            name="country"
            placeholder="Country"
            type="text"
            required
            :class="[
              'form__input',
              {
                'form__input--open': selectOpen,
              }
            ]"
          >

          <div
            :class="[
              'form__footer',
              {
                'form__footer--error': countryError
              }
            ]"
          >
            <span v-if="countryError">{{ countryError }}</span>
            <span v-if="!selectOpen"><sup>*</sup>required</span>
          </div>
        </div>

        <section
          v-if="selectOpen"
          class="form__select-options"
        >
          <input
            id="search"
            class="form__search"
            type="text"
            v-model="search"
          />

          <span class="form__inactive">-- Country / Region --</span>

          <div
            v-for="(item, index) in getCountries"
            :key="index"
            class="form__option"
            @click="select(item)"
          >
            <span>{{ item.name }}</span>
            <svg
              v-if="countryName === item.name"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M8 17.9L.6 10.1l2.8-2.7 4.5 4.8 8.6-10.1 2.9 2.5z"/>
            </svg>
          </div>
        </section>
      </div>

      <div class="form__field">
        <input
          id="email"
          v-model="email"
          autocomplete="off"
          name="email"
          type="email"
          required
          placeholder="Email"
          :class="[
            'form__input',
          ]"
        >

        <div
          :class="[
            'form__footer',
            {
              'form__footer--error': emailError
            }
          ]"
        >
          <span v-if="emailError">{{ emailError }}</span>
          <span><sup>*</sup>required</span>
        </div>
      </div>

      <VueRecaptcha
        class="form__captcha"
        v-show="openCaptcha"
        ref="recaptcha"
        loadRecaptchaScript
        @verify="onVerify"
        @expired="onExpired"
        sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
      />

      <button
        @click.prevent="submit"
        class="form__button"
      >
        Submit
      </button>
    </fieldset>
  </form>
</template>

<script>
import axios from 'axios';
import VueRecaptcha from 'vue-recaptcha';
import countryList from './countryList';

export default {
  name: 'Form',

  components: {
    VueRecaptcha,
  },

  data: () => ({
    countries: countryList,

    // Models
    firstName: null,
    lastName: null,
    countryName: null,
    countryCode: null,
    search: null,
    email: null,

    // States
    selectOpen: false,

    // Errors
    firstNameError: null,
    lastNameError: null,
    countryError: null,
    emailError: null,

    openCaptcha: false,
    bot: null,

    /* eslint-disable */
    reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/,
  }),

  watch: {
    firstName(val) {
      this.firstName = val.replace(/\W/g, '');
    },
    lastName(val) {
      this.lastName = val.replace(/\W/g, '');
    },
    search(val) {
      this.search = val.replace(/\W/g, '');
    },
    email(val) {
      this.validateEmail(val);
    },
  },

  computed: {
    getCountries() {
      /* eslint-disable max-len */
      let state;
      if (this.search) {
        state = this.countries.filter((item) => item.name.toLowerCase().match(this.search.toLowerCase()));
      } else {
        state = this.countries;
      }
      return state;
    },
  },

  methods: {
    select(item) {
      this.countryName = item.name;
      this.countryCode = item.code.toLowerCase();
      this.selectOpen = false;
    },
    validateEmail(email) {
      return this.reg.test(email)
    },
    submit() {
      if (!this.firstName) {
        this.firstNameError = 'Please enter you first name';
        setTimeout(() => {
          this.firstNameError = false;
        }, 2000)
      } else if (!this.countryName) {
        this.countryError = 'Please select your country';
        setTimeout(() => {
          this.countryError = false;
        }, 2000)
      } else if (!this.validateEmail(this.email)) {
        this.emailError = 'Please enter a valid email address';
        setTimeout(() => {
          this.emailError = false;
        }, 2000)
      } else  {
        this.openCaptcha = true;
      }
    },

    onVerify(res) {
      this.bot = res;
      if (this.bot) this.apiCall();
    },

    onExpired() {
      this.$refs.recaptcha.reset();
      this.openCaptcha = false;
    },

    async apiCall() {
      await axios.post(`https://cloud.wbpapps.com/dune/fanssignup/adddata.php?fname=${this.firstName}&lname=${this.lastName}&email=${this.email}&country=${this.countryCode}`)
    },
  },
};
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
  font-family: 'montserrat';
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: center;
  align-items: center;

  &__inner {
    width: 80%;
    margin: 0 auto;
    padding: 2.5em;
    border: 0;
  }

  &__input {
    width: 100%;
    line-height: 1.7;
    font-size: 0.875rem;
    padding: 1em 0.625em;
    border-radius: 4px;
    border: 1px solid #ccc;

    &::placeholder {
      color: #333;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;

    span {
      font-style: italic;
      font-size: 0.625em;
      line-height: 1.5;
      color: #333;
    }
  }

  &__select {
    position: relative;
    cursor: pointer;

    &--open {
      border: 2px solid blue;
      border-radius: 5px;
      margin-bottom: 1.25em;
    }

    .form__input {
      caret-color: transparent;
      cursor: pointer;
      pointer-events: none;
      user-select: none;

      &--open {
        border-radius: 4px 4px 0 0;
      }
    }

    .form__field {
      margin-bottom: 1.25em;

      &--open {
        margin-bottom: 0;
      }
    }
  }

  &__select-options {
    max-height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    svg {
      width: 1em;
    }
  }

  &__option {
    padding: 0.313em 0.625em;
    line-height: 1.7;
    font-size: 0.875rem;
    color: #333;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: #337ab7;

      span {
        color: white;
      }

      svg {
        path {
          fill: white;
        }
      }
    }
  }

  &__inactive {
    cursor: not-allowed;
    color: #777;
    padding: 0.313em 0.625em;
    font-size: 0.825rem;
  }

  &__search {
    border: 1px solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
    border-radius: 4px;
    margin: 0.313em;
    padding: 0.313em 0.625em;
    font-size: 0.825rem;

    &:focus {
      outline: 0;
    }
  }

  &__button {
    width: 6.25em;
    background: #255A83;
    border: 0;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 0.625em 0.313em ;
    font-size: 0.825rem;
    margin: 0 auto;
    display: block;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    &--error {
      justify-content: space-between;
    }
  }

  &__captcha {
    max-width: 19em;
    margin: 0 auto;
    margin-bottom: 1.25em;
  }
}
</style>
