<template>
  <div class="home" id="app">
    <Form />
  </div>
</template>

<script>
import Form from '@/components/Form.vue';

export default {
  name: 'Home',
  components: {
    Form,
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
}
</style>
